* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #1a1c28;
}

nav{
    position: fixed;
    background-color: rgb(30, 24, 24);
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
     box-sizing: border-box;
}

nav a{
    color: yellowgreen;
    font-size: 1em;
    margin: 5px;
    text-decoration: none;
   
}

nav a:hover{
    font-size: 1.2em;
   
    color: yellow;
     transition: 0.3s;
}

.container{
   
    padding: 50px 300px 40px 40px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'a a a a b b'
    'a a a a b b'
    'c c c d d d'
    'c c c e e e';
    gap: 20px;
}

.a{
    grid-area: a;
    background-color: #eb5020;
}

.b{
    grid-area: b;
    background-color: #ffa401;
}

.c{
    grid-area: c;
    background-color: #05aa42;
}

.d{
    grid-area: d;
    background-color: #01aefd;
}


.e{
    grid-area: e;
    background-color: #01aefd;
}

@media screen and (max-width:850px){
    .container{
   
        padding: 50px ;

    }

}